.botao-whatsapp {
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.botao-whatsapp:hover {
  transform: scale(1.2);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25);
}

.botao-whatsapp picture {
  margin: auto auto;
}


@media (max-width: 810px) {
  .botao-whatsapp{
    width: 45px;
    height: 45px;
  }
}