header {
  background-color: var(--cinza-0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header picture:hover {
  animation: giro 01s;
}

@keyframes giro {
  to {
    transform: rotate(360deg);
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

nav a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--verde-8);
  position: relative;
}

nav a:hover {
  color: var(--verde-1);
}

nav a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--verde-1);
  transition: 0.3s;
}

nav a:hover:after {
  width: 80%;
  position: absolute;
}
