.verde-bg {
  background: linear-gradient(var(--verde-0), var(--verde-1));
}

.verde {
  text-align: center;
  color: var(--cinza-0);
  padding-bottom: 60px;
}

.verde h2 {
  font-size: 3rem;
  letter-spacing: 1.5px;
  color: var(--cinza-0);
  padding-top: 25px;
  padding-bottom: 10px;
}

.verde p {
  font-size: 1.75rem;
  color: #baf2bb;
  text-decoration: underline;
  padding-bottom: 80px;
  font-weight: bold;
}

/*-----MEDIA QUERY-----*/

@media (max-width: 1240px) {
  .verde h2 {
    font-size: 2.5rem;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .verde p {
    font-size: 1.25rem;
    padding-bottom: 60px;
  }
}

@media (max-width: 1000px) {
  .verde h2 {
    font-size: 2rem;
  }

  .verde p {
    font-size: 1rem;
    padding-bottom: 40px;
  }
}
