.verde-bg {
  background: linear-gradient(var(--verde-0), var(--verde-1));
}

.verde {
  text-align: center;
  color: var(--cinza-0);
  padding-bottom: 60px;
}

/*-----MEDIA QUERY-----*/

@media (max-width: 810px) {
  .verde {
    padding-bottom: 40px;
  }
}
