.produtos-index {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.produtos-index h2 {
  grid-column: 1/-1;
  font-size: 3rem;
  margin-bottom: 50px;
  justify-self: center;
  color: var(--verde-8);
}

.lista-produtos li {
  font-weight: 500;
  font-size: 2rem;
  width: 480px;
  letter-spacing: 1.5px;
  color: var(--verde-8);
}

.lista-produtos li + li {
  margin-top: 20px;
}

.lista-produtos li::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 23px;
  margin-right: 20px;
  background: url("../../media/categorias/detalhe-lista.svg");
}

.categorias {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.categorias picture {
  max-width: 280px;
  max-height: 280px;
  transition: 0.3s;
}

.categorias picture:hover {
  transform: scale(1.1);
}

.p-mobile {
  text-align: center;
  display: none;
}

/* ---------MEDIA QUERY-------- */

@media (max-width: 1000px) {
  .produtos-index h2 {
    font-size: 2rem;
  }

  .lista-produtos li {
    font-size: 1.5rem;
    width: 380px;
  }
  .categorias {
    max-width: 480px;
  }
}

@media (max-width: 810px) {
  .produtos-index {
    grid-template-columns: 1fr;
  }

  .lista-produtos {
    display: none;
  }

  .categorias {
    margin: 0 auto;
  }

  .produtos-index {
    padding-top: 40px;
  }

  .produtos-index h2 {
    margin-bottom: 20px;
  }

  .p-mobile {
    display: inline-block;
    margin-bottom: 20px;
  }
}
