.contato {
  padding-top: 50px;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.endereco a {
  font-weight: bold;
  color: var(--cinza-5);
  font-size: 1.5rem;
}

.endereco a:hover {
  color: var(--verde-1);
}

.horarios {
  grid-column: 1;
  grid-row: 2 / 4;
}

.tel-li {
  font-weight: bold;
  margin-top: 15px;
}

.whatsapp {
  grid-column: 2;
  grid-row: 1 / 2;
}

.telefone {
  grid-row: 2 / 3;
}

.telefone,
.rota {
  grid-column: 2;
}

.telefone a,
.rota a,
.whatsapp a {
  display: block;
  color: var(--cinza-5);
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  border: 2px solid var(--verde-0);
  border-radius: 5px;
}

.telefone a:hover,
.rota a:hover,
.whatsapp a:hover {
  background: linear-gradient(var(--verde-1), var(--verde-2));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--cinza-0);
}

.whatsapp a span {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
}

.rota {
  grid-row: 3 / 4;
}

/* ---------MEDIA QUERY-------- */

@media (max-width: 810px) {
  .contato-grid {
    grid-template-columns: 1fr;
    grid-template-rows: initial;
  }

  .rota,
  .telefone,
  .horarios,
  .whatsapp {
    grid-row: initial;
    grid-column: 1;
  }

  .contato {
    padding-top: 25px;
  }

  .contato-grid {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 420px) {
  .endereco a,
  .rota a,
  .telefone a,
  .whatsapp a {
    font-size: 1.25rem;
  }

  .rota a,
  .telefone a,
  .whatsapp a {
    padding: 10px;
    line-height: 1.5;
  }

  .telefone a span {
    width: 16px;
  }
}
